.service-container{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    
}

/* make responsive */
@media only screen and (max-width:668px) {
    .service-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:669px) and (max-width:912px) {
    .service-container{
        grid-template-columns: repeat(2,1fr);
    }
}